<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary Page</title>
</head>
<body>

<h2>Summary Page</h2>

<h3>First Name: <span th:text="${user.firstName}"></span></h3>
<h3>Last Name: <span th:text="${user.lastName}"></span></h3>
<h3>Email: <span th:text="${user.email}"></span></h3>
<h3>Phone Number: <span th:text="${user.phone}"></span></h3>
<h3>City: <span th:text="${user.city}"></span></h3>
<h3>Location: <span th:text="${user.country}"></span></h3>

</body>
</html>
